h1, p {
  font-family: Lato;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  max-width: 75%;
  position: relative;
}
.card__figure {
  display: block;
  position: relative;
}

.card__content {
  background-color: rgba(1, 1, 1, .02);
  padding: 1.5rem;
}

.card__figure__img{
  max-width: 100%;
}